<header class="header">
    <nav class="nav">
        <a href="11.html" class="nav_title">Computer Parts</a>
        <ul class="nav_items">
                <li class="nav_item">
                <a href="/" class="nav_link">Home</a>
                <a href="/products" class="nav_link">Product</a>
                <a href="#" class="nav_link">About</a>
                <a href="#" class="nav_link">Service</a>
                </li>
        </ul>
        <button class="button" id="click_login">Login</button>
    </nav>
    </header>