<tr>
    <th scope="row"><%= user._id %></th>
    <td><%= user.username %></td>
    <td><%= user.birthdate %></td>
    <td><%= user.email %></td>
    <td>
        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
        <i class="fa-sharp fa-solid fa-trash"></i>
    </td>
</tr>