<%- include('partials/header') %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">User_ID</th>
        <th scope="col">Username</th>
        <th scope="col">Birthday</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <% if(users && users.length > 0) { %>
        <% users.forEach(user => { %>
            <%- include('partials/user-list-single', {user: user}); %>
        <% }); %>
      <% } else { %>
        <p>No user found.</p>
      <% } %>

    </tbody>
  </table>

<%- include('partials/footer') %>